<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Transportista</title>
    <link rel="stylesheet" href="../static/css/transportista.css">
</head>
<body>
    <header>
        <h1>Bienvenido transportista</h1>
    </header>

    <main>
        <div class="contenedor">
            <section class="info">
                <h2>Información del Cliente</h2>
                <p><strong>Nombre Cliente:</strong> Sebastian cristancho</p>
                <p><strong>Dirección Cliente:</strong> Calle 1946544</p>
                <p><strong>Hora Entrega:</strong> 3:00</p>
                <p><strong>Pedidos entregados hoy:</strong> 5</p>
            </section>

            <section class="mapa">
                <h2>Próxima entrega</h2>
                <div id="map"></div>
                <button onclick="finalizarEntrega()">Finalizar entrega</button>
            </section>
        </div>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCImKJEKTINJKT5OdD2j3vgzonq3HxbA4"></script>

    <script src="../static/js/transportista.js"></script>
</body>
</html>
